if SHIELD_LEMONSHARK_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "lemonshark"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_LEMONSHARK_LEFT || SHIELD_LEMONSHARK_RIGHT

config ZMK_SPLIT
    default y

endif
